@charset "UTF-8";
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
/*
Create and share your photo Stories

Photosnap is a platform for photographers and visual storytellers. We make it
easy to share photos, tell stories and connect with others.

Beautiful stories every time

We provide design templates to ensure your stories look terrific. Easily add
photos, text, embed maps and media from other networks. Then share your story
with everyone.

View the stories

Designed for everyone

Photosnap can help you create stories that resonate with your audience. Our
tool is designed for photographers of all levels, brands, businesses you name it.

View the stories

The Mountains
by John Appleseed
Read Story

Sunset Cityscapes
by Benjamin Cruz
Read Story

18 Days Voyage
by Alexei Borodin
Read Story

Architecturals
by Samantha Brooke
Read Story

100% Responsive

No matter which the device you’re on, our site is fully responsive and stories
look beautiful on any screen.

No Photo Upload Limit

Our tool has no limits on uploads or bandwidth. Freely upload in bulk and
share all of your stories in one go.

Available to Embed

Embed Tweets, Facebook posts, Instagram media, Vimeo or YouTube videos,
Google Maps, and more.

Home
Stories
Features
Pricing

Get an invite

Copyright 2019. All Rights Reserved 












  Stories
  Features
  Pricing

  Get an invite

  Last month's featured story

  Hazy full moon of Appalachia
  March 2nd 2020
  by John Appleseed

  The dissected plateau area, while not actually made up of geological mountains, 
  is popularly called "mountains," especially in eastern Kentucky and West Virginia, 
  and while the ridges are not high, the terrain is extremely rugged.

  Read the story

  April 16th 2020
  The Mountains
  by John Appleseed
  Read Story

  April 14th 2020
  Sunset Cityscapes
  by Benjamin Cruz
  Read Story

  April 11th 2020
  18 Days Voyage
  by Alexei Borodin
  Read Story

  April 9th 2020
  Architecturals
  by Samantha Brooke
  Read Story

  April 7th 2020
  World Tour 2019
  by Timothy Wagner
  Read Story

  April 7th 2020
  World Tour 2019
  by Timothy Wagner
  Read Story

  April 3rd 2020
  Unforeseen Corners
  by William Malcolm
  Read Story

  March 29th 2020
  King on Africa: Part II
  by Tim Hillenburg
  Read Story

  March 21st 2020
  The Trip to Nowhere
  by Felicia Rourke
  Read Story

  March 19th 2020
  Rage of The Sea
  by Mohammed Abdul
  Read Story

  March 16th 2020
  Running Free
  by Michelle
  Read Story

  March 11th 2020
  Behind the Waves
  by Lamarr Wilson
  Read Story

  March 9th 2020
  Calm Waters
  by Samantha Brooke
  Read Story

  March 5th 2020
  The Milky Way
  by Benjamin Cruz
  Read Story

  March 4th 2020
  Night at The Dark Forest
  by  Mohammed Abdul
  Read Story

  March 1st 2020
  Somwarpet’s Beauty
  by Michelle
  Read Story

  February 25th 2020
  Land of Dreams
  by William Malcolm
  Read Story

  Home
  Stories
  Features
  Pricing

  Get an invite

  Copyright 2019. All Rights Reserved

*/
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif; }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 50%; } }

body {
  line-height: 1.4;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.5rem;
  box-sizing: border-box; }

.heading {
  font-weight: 700; }
  .heading__primary {
    font-size: 4rem; }
  .heading__secondary {
    font-size: 2.4rem; }
  .heading__tertiary {
    font-size: 1.8rem; }
  .heading__smallest {
    font-size: 1.2rem; }

.btn {
  font-size: 1.6rem; }
  .btn--1 {
    border: none;
    background-color: #000;
    padding: 1.2rem 4rem;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: .3s all;
    border-radius: 3px; }
    .btn--1:hover {
      background-color: #dfdfdf;
      color: #000; }
  .btn--2 {
    border: none;
    color: #000;
    background: none;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: .3s all; }
    .btn--2:hover {
      text-decoration: underline; }
  .btn--3 {
    border: none;
    background-color: #fff;
    padding: 1.2rem 4rem;
    color: #000;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: .3s all;
    border-radius: 3px; }
    .btn--3:hover {
      background-color: #dfdfdf;
      color: #fff; }
  .btn--4 {
    border: none;
    color: #fff;
    background: none;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: .3s all; }
    .btn--4:hover {
      text-decoration: underline; }

.footer {
  background-color: #000;
  grid-column: 1/-1;
  order: 9;
  color: #fff;
  padding: 5rem 0;
  display: flex;
  justify-content: space-around; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      flex-direction: column;
      align-items: center; } }
  .footer__logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media only screen and (max-width: 37.5em) {
      .footer__logo div {
        margin: 3rem 0; } }
    .footer__logo div a:not(:last-child) {
      margin-right: 1.5rem; }
  @media only screen and (max-width: 37.5em) {
    .footer__links {
      text-align: center; } }
  .footer__links a {
    text-decoration: none;
    color: #fff; }
    .footer__links a:hover {
      opacity: .5; }
  .footer__links li {
    list-style: none; }
    @media only screen and (max-width: 37.5em) {
      .footer__links li {
        margin-bottom: 3rem; } }
    .footer__links li:not(:last-child) {
      margin-bottom: 1rem; }
  .footer__copyright {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between; }
    @media only screen and (max-width: 37.5em) {
      .footer__copyright p {
        margin: 3rem auto; } }
    .footer__copyright p br {
      display: none; }
      @media only screen and (max-width: 37.5em) {
        .footer__copyright p br {
          display: inline; } }
    .footer__copyright div button {
      color: #fff; }

.img__gallery {
  grid-column: 1/-1;
  order: 7;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); }
  @media only screen and (max-width: 56.25em) {
    .img__gallery {
      grid-template-rows: repeat(2, 27.1rem); } }
  @media only screen and (max-width: 31.25em) {
    .img__gallery {
      grid-template-rows: repeat(4, 27.1rem); } }
  .img__gallery img {
    width: 100%;
    height: 100%; }
  .img__gallery--1 {
    background-repeat: no-repeat;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/stories/desktop/mountains.jpg);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: end;
    transition: .3s all; }
    .img__gallery--1 h3, .img__gallery--1 p {
      margin-left: 3rem;
      margin-bottom: .5rem; }
    .img__gallery--1 hr {
      color: #fff;
      width: 82%;
      margin: 1rem auto; }
    .img__gallery--1 .btn--2 {
      color: #fff; }
    .img__gallery--1 .arrow__button {
      display: flex;
      justify-content: space-between;
      margin: .7rem 3rem;
      margin-bottom: 2rem;
      cursor: pointer; }
    .img__gallery--1:hover {
      transform: translateY(-10px); }
  .img__gallery--2 {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/stories/desktop/cityscapes.jpg);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: end;
    transition: .3s all; }
    .img__gallery--2 h3, .img__gallery--2 p {
      margin-left: 3rem;
      margin-bottom: .5rem; }
    .img__gallery--2 hr {
      color: #fff;
      width: 82%;
      margin: 1rem auto; }
    .img__gallery--2 .btn--2 {
      color: #fff; }
    .img__gallery--2 .arrow__button {
      display: flex;
      justify-content: space-between;
      margin: .7rem 3rem;
      margin-bottom: 2rem;
      cursor: pointer; }
    .img__gallery--2:hover {
      transform: translateY(-10px); }
  .img__gallery--3 {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/stories/desktop/18-days-voyage.jpg);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: end;
    transition: .3s all; }
    .img__gallery--3 h3, .img__gallery--3 p {
      margin-left: 3rem;
      margin-bottom: .5rem; }
    .img__gallery--3 hr {
      color: #fff;
      width: 82%;
      margin: 1rem auto; }
    .img__gallery--3 .btn--2 {
      color: #fff; }
    .img__gallery--3 .arrow__button {
      display: flex;
      justify-content: space-between;
      margin: .7rem 3rem;
      margin-bottom: 2rem;
      cursor: pointer; }
    .img__gallery--3:hover {
      transform: translateY(-10px); }
  .img__gallery--4 {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/stories/desktop/architecturals.jpg);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: end;
    transition: .3s all; }
    .img__gallery--4 h3, .img__gallery--4 p {
      margin-left: 3rem;
      margin-bottom: .5rem; }
    .img__gallery--4 hr {
      color: #fff;
      width: 82%;
      margin: 1rem auto; }
    .img__gallery--4 .btn--2 {
      color: #fff; }
    .img__gallery--4 .arrow__button {
      display: flex;
      justify-content: space-between;
      margin: .7rem 3rem;
      margin-bottom: 2rem;
      cursor: pointer; }
    .img__gallery--4:hover {
      transform: translateY(-10px); }

.homepage__body {
  display: grid;
  grid-template-rows: 7.2rem 65rem repeat(2, 60rem) 50rem min-content min-content;
  grid-template-columns: repeat(12, 1fr); }
  @media only screen and (max-width: 75em) {
    .homepage__body {
      display: grid;
      grid-template-rows: 7.2rem 65rem repeat(2, 60rem) 40rem min-content min-content; } }
  @media only screen and (max-width: 56.25em) {
    .homepage__body {
      display: grid;
      grid-template-rows: 7.2rem 65rem repeat(2, 60rem) 1fr repeat(2, min-content); } }
  @media only screen and (max-width: 37.5em) {
    .homepage__body {
      display: grid;
      grid-template-rows: 7.2rem 29.4rem 41.9rem 27.1rem 41.9rem 27.1rem 41.9rem; } }

.stories__body {
  display: grid;
  grid-template-rows: 7.2rem 65rem 200rem 1fr;
  grid-template-columns: repeat(4, 1fr); }

.features__body {
  display: grid;
  grid-template-rows: 7.2rem 49rem 75rem 30rem 25rem;
  grid-template-columns: repeat(5, 1fr); }

.nav {
  grid-column: 1 / -1;
  order: 0;
  display: grid;
  position: relative; }
  .nav__links {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .nav__links li {
      list-style: none; }
  .nav__item {
    display: flex;
    font-weight: 600; }
    .nav__item li:not(:last-child) {
      margin-right: 5rem; }
    @media only screen and (max-width: 56.25em) {
      .nav__item li:not(:last-child) {
        margin-right: 2rem; } }
  .nav__items a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase; }
  .nav__items button a {
    color: #fff;
    font-weight: 500; }
    .nav__items button a:hover {
      color: #000; }
  @media only screen and (max-width: 56.25em) {
    .nav .nav__links {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      height: 40vh;
      width: 95%;
      margin: 0 auto;
      transition: all 1s ease-in-out;
      display: none; }
      .nav .nav__links .nav__item {
        display: block; }
        .nav .nav__links .nav__item li:not(:last-child) {
          margin-bottom: 2rem; }
    .nav .nav__logo {
      align-self: start; }
    .nav .open {
      display: flex;
      transition: 1s all;
      pointer-events: all; }
    .nav .hamburger {
      z-index: 100;
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      transition: .5s all; }
      .nav .hamburger .line {
        width: 30px;
        height: 2px;
        background-color: #000;
        margin: 5px; }
      .nav .hamburger .line1 {
        transform: translateY(4px) rotate(-45deg); }
      .nav .hamburger .line2 {
        transform: translateY(-4px) rotate(45deg); } }

.heading1 {
  background-color: #000;
  grid-column: 1/6; }
  .heading1 .heading__primary {
    margin-bottom: 2rem; }
  .heading1 .arrow__button {
    margin-top: 2rem; }
    .heading1 .arrow__button svg {
      margin-left: 1rem; }
  .heading1__text {
    color: #fff;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0 8rem; }
    .heading1__text .btn {
      color: #fff; }
    @media only screen and (max-width: 37.5em) {
      .heading1__text {
        padding: 0 3rem; } }
  @media only screen and (max-width: 56.25em) {
    .heading1 {
      grid-column: 1/8; } }
  @media only screen and (max-width: 37.5em) {
    .heading1 {
      grid-column: 1/-1;
      order: 2; } }

.heading2 {
  grid-column: 8/-1; }
  .heading2 .heading__primary {
    margin-bottom: 2rem; }
  .heading2 .arrow__button {
    margin-top: 2rem; }
    .heading2 .arrow__button svg {
      margin-left: 1rem; }
  .heading2__text {
    color: #000;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0 8rem; }
    .heading2__text .btn {
      color: #000; }
    @media only screen and (max-width: 37.5em) {
      .heading2__text {
        padding: 0 3rem; } }
  @media only screen and (max-width: 56.25em) {
    .heading2 {
      grid-column: 6/-1; } }
  @media only screen and (max-width: 37.5em) {
    .heading2 {
      grid-column: 1/-1;
      order: 4; } }

.heading3 {
  grid-column: 1/6; }
  .heading3 .heading__primary {
    margin-bottom: 2rem; }
  .heading3 .arrow__button {
    margin-top: 2rem; }
    .heading3 .arrow__button svg {
      margin-left: 1rem; }
  @media only screen and (max-width: 56.25em) {
    .heading3 {
      grid-column: 1/8; } }
  @media only screen and (max-width: 37.5em) {
    .heading3 {
      grid-column: 1/-1;
      order: 6; } }

.section__responsive {
  grid-column: 1/-1;
  order: 8;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 3rem;
  margin: 15rem 5rem;
  text-align: center;
  align-items: flex-end; }
  .section__responsive svg {
    margin-bottom: 3rem; }
  .section__responsive h2 {
    margin-bottom: 2rem;
    font-weight: 600; }
  @media only screen and (max-width: 37.5em) {
    .section__responsive > * {
      margin-bottom: 3rem; } }

.homePage__img1 {
  background-color: rebeccapurple;
  grid-column: 6/-1; }
  @media only screen and (max-width: 56.25em) {
    .homePage__img1 {
      grid-column: 8/-1; } }
  @media only screen and (max-width: 37.5em) {
    .homePage__img1 {
      grid-column: 1/-1;
      order: 1; } }
  .homePage__img1 img {
    width: 100%;
    height: 100%; }

.homePage__img2 {
  grid-column: 1/8; }
  @media only screen and (max-width: 56.25em) {
    .homePage__img2 {
      grid-column: 1/6; } }
  @media only screen and (max-width: 37.5em) {
    .homePage__img2 {
      grid-column: 1/-1;
      order: 3; } }
  .homePage__img2 img {
    width: 100%;
    height: 100%; }

.homePage__img3 {
  background-color: rebeccapurple;
  grid-column: 6/-1; }
  @media only screen and (max-width: 56.25em) {
    .homePage__img3 {
      grid-column: 8/-1; } }
  @media only screen and (max-width: 37.5em) {
    .homePage__img3 {
      grid-column: 1/-1;
      order: 5; } }
  .homePage__img3 img {
    width: 100%;
    height: 100%; }

.stories__header {
  color: #fff;
  background-image: url(../assets/stories/desktop/moon-of-appalacia.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1/-1;
  grid-row: 2/3;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr); }
  .stories__header__item {
    grid-column: 1/3;
    padding: 0 10rem; }
    .stories__header__item__description {
      line-height: 2; }
    .stories__header__item > * {
      margin-bottom: 1.5rem; }

.stories__img__gallery {
  grid-column: 1/-1;
  display: grid;
  grid-template-rows: repeat(4, 50rem);
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); }
  .stories__img__gallery h3,
  .stories__img__gallery p {
    margin-left: 3rem;
    margin-bottom: .5rem; }
  .stories__img__gallery hr {
    color: #fff;
    width: 82%;
    margin: 1rem auto; }
  .stories__img__gallery .btn--2 {
    color: #fff; }
  .stories__img__gallery .arrow__button {
    display: flex;
    justify-content: space-between;
    margin: .7rem 3rem;
    margin-bottom: 2rem;
    cursor: pointer; }
  .stories__img__gallery .img__gall {
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: end;
    transition: .3s all; }
    .stories__img__gallery .img__gall:hover {
      transform: translateY(-10px); }
  .stories__img__gallery .img__gallery--5 {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/stories/desktop/world-tour.jpg); }
  .stories__img__gallery .img__gallery--6 {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/stories/desktop/unforeseen-corners.jpg); }
  .stories__img__gallery .img__gallery--7 {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/stories/desktop/world-tour.jpg); }
  .stories__img__gallery .img__gallery--8 {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/stories/desktop/trip-to-nowhere.jpg); }
  .stories__img__gallery .img__gallery--9 {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/stories/desktop/rage-of-the-sea.jpg); }
  .stories__img__gallery .img__gallery--10 {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/stories/desktop/running-free.jpg); }
  .stories__img__gallery .img__gallery--11 {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/stories/desktop/behind-the-waves.jpg); }
  .stories__img__gallery .img__gallery--12 {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/stories/desktop/calm-waters.jpg); }
  .stories__img__gallery .img__gallery--13 {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/stories/desktop/milky-way.jpg); }
  .stories__img__gallery .img__gallery--14 {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/stories/desktop/dark-forest.jpg); }
  .stories__img__gallery .img__gallery--15 {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/stories/desktop/somwarpet.jpg); }
  .stories__img__gallery .img__gallery--16 {
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/stories/desktop/land-of-dreams.jpg); }

.features__body .nav {
  grid-column: 1/-1; }

.features__body .heading3 {
  grid-column: 1/ span 2;
  background-color: #000;
  color: #fff; }
  .features__body .heading3 p {
    line-height: 1.6;
    letter-spacing: .5rem; }

.features__body .homePage__img3 {
  grid-column: 3/-1; }

.features__body .section__features {
  grid-column: 1/-1;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  grid-gap: 3rem;
  padding: 0 5rem;
  text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-template-rows: repeat(2, 23.6rem); }
  .features__body .section__features .section__responsive--1 > * {
    margin-bottom: 2rem; }

.features__body .beta {
  grid-column: 1/-1;
  color: #fff;
  background-image: url(../assets/shared/desktop/bg-beta.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem; }

.features__body .footer {
  grid-column: 1/-1; }
