.features__body {

    .nav {
        grid-column: 1/-1;
        order: -6;
    }

    .heading3 {

        grid-column: 1/ span 2;
        background-color: $color-black;
        color: $color-white;

        .heading__primary{

            @include respond(tab-land) {
               font-size: 2.5rem;
            }

            @include respond(phone) {
                font-size: 4rem;
             }
            
        }

        p {
            line-height: 1.5;
            letter-spacing: .2rem;
            
            @include respond(tab-land) {
                font-size: 1.3rem;
                line-height: 1.2;
            }

            @include respond(phone) {
                font-size: 1.5rem;
                line-height: 1.5;
             }
        }



        @include respond(tab-port) {
            grid-column: 1/span 3;
        }

        @include respond(phone) {
            grid-column: 1/-1;
            order: -4;
        }
    }

    .homePage__img3 {
        grid-column: 3/-1;

        @include respond(tab-port) {
            grid-column: 4/-1;
        }

        @include respond(phone) {
            grid-column: 1/-1;
            order: -5;
        }
    }


    .section__features {
        grid-column: 1/-1;
        // background-color: yellow;
        display: grid;
        justify-content: center;
        align-items: flex-end;
        align-content: center;
        grid-gap: 3rem;
        padding: 0 5rem;
        text-align: center;

        grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
        grid-template-rows: repeat(2, 23.6rem);

        @include respond(tab-land) {
            margin: 7rem 0;
            grid-template-rows: 1fr;
            padding: 0 2rem;
            font-size: 1.2rem;

            &>* {
                margin-top: 3rem;
            }
        }

        @include respond(phone) {
            grid-column: 1/-1;
            order: -3;
        }

        div[class^='section__responsive-'] {
            &>* {
                margin-bottom: 1rem;
            }
        }
    }

    .beta {
        grid-column: 1/-1;
        color: $color-white;
        background-image: url(../assets/shared/desktop/bg-beta.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5rem;

        @include respond(phone) {
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
        }
    }

    .footer {
        grid-column: 1/-1;

    }
}