.pricing__body{


    .nav{
        grid-column: 1/-1;
    }

    .heading3{
        grid-column:1/ span 2 ;
        background-color: $color-black;
        color: $color-white;

        p{
            line-height: 1.5;
            letter-spacing: .3rem;
        }
    }

    .homePage__img3{
        grid-column: 3/-1;
    }

    .section__plans{
        grid-column: 1/-1;
    }

    .section__compare{
    }

    .beta{
        grid-column: 1/-1;
        color: $color-white;
        background-image: url(../assets/shared/desktop/bg-beta.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5rem;
    }

    .footer{
        grid-column: 1/-1;
    }
}