.homepage__body {
    display: grid;
    grid-template-rows: 7.2rem 65rem repeat(2, 60rem) 50rem min-content min-content;
    grid-template-columns: repeat(12, 1fr);

    @include respond(tab-land) {
        display: grid;
        grid-template-rows: 7.2rem 65rem repeat(2, 60rem) 40rem min-content min-content;
    }

    @include respond(tab-port) {
        display: grid;
        grid-template-rows: 7.2rem 65rem repeat(2, 60rem) 1fr repeat(2, min-content);
    }

    @include respond(phone) {
        display: grid;
        grid-template-rows: 7.2rem 29.4rem 41.9rem 27.1rem 41.9rem 27.1rem 41.9rem;
    }
}


.stories__body {
    display: grid;
    grid-template-rows: 7.2rem 65rem 200rem 1fr;
    grid-template-columns: repeat(4, 1fr);
}



.features__body{
    display: grid;
    grid-template-rows: 7.2rem 49rem 75rem 30rem 25rem;
    grid-template-columns: repeat(5, 1fr);

}