.homepage__body {
    display: grid;
    grid-template-rows: 7.2rem 65rem repeat(2, 60rem) 50rem min-content min-content;
    grid-template-columns: repeat(12, 1fr);

    @include respond(tab-land) {
        display: grid;
        grid-template-rows: 7.2rem 65rem repeat(2, 60rem) 40rem min-content min-content;
    }

    @include respond(tab-port) {
        display: grid;
        grid-template-rows: 7.2rem 65rem repeat(2, 60rem) 1fr repeat(2, min-content);
    }

    @include respond(phone) {
        display: grid;
        grid-template-rows: 7.2rem 29.4rem 41.9rem 27.1rem 41.9rem 27.1rem 41.9rem;
    }
}





.homePage__img1 {
    background-color: rebeccapurple;
    grid-column: 6/-1;

    @include respond(land) {
        grid-column: 8/-1;
    }

    @include respond(tab-port) {
        grid-column: 8/-1;
    }

    @include respond(phone) {
        grid-column: 1/-1;
        order: 1;

    }

    img {
        width: 100%;
        height: 100%;
    }
}

.homePage__img2 {
    // background-color: #61e0b0;
    grid-column: 1/8;

    @include respond(land) {
        grid-column: 1/6;
    }

    @include respond(tab-port) {
        grid-column: 1/6;
    }

    @include respond(phone) {
        grid-column: 1/-1;
        order: 3;
    }

    img {
        width: 100%;
        height: 100%;
    }


}




.homePage__img3 {
    background-color: rebeccapurple;
    grid-column: 6/-1;

    @include respond(land) {
        grid-column: 8/-1;
    }

    @include respond(tab-port) {
        grid-column: 8/-1;
    }

    @include respond(phone) {
        grid-column: 1/-1;
        order: 5;
    }

    img {
        width: 100%;
        height: 100%;
    }
}

